In [64]:
import pandas as pd

In [65]:
data_dir = '/Users/anishkahc/Desktop/Documents/ML Fall 23/Data/'

goyal_file = 'GoyalMonthly.parquet.gzip'
crsp_msf_file = 'msf.parquet.gzip'
crsp_delist_file = 'msedelist.parquet.gzip'
crsp_names_file = 'msenames.parquet.gzip'
open_ap_file = 'OpenAP.parquet.gzip'
ff3_file = 'FF3.parquet.gzip'

# Goyal Macro File

In [66]:
#Read file and display info and 
goyal = pd.read_parquet(data_dir + goyal_file)

In [67]:
goyal.head(5)

,Date,Index,D12,E12,bm,tbl,AAA,BAA,lty,ntis,Rfree,infl,ltr,corpr,svar,csp,CRSP_SPvw,CRSP_SPvwx
0,187101,4.44,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004955,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,187102,4.50,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004514,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,187103,4.61,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004243,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,187104,4.74,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004632,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,187105,4.86,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.003691,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
#check for duplicates
goyal.duplicated().max()

False

In [69]:
#1. Find no. of unique values in 'Date' field
goyal['Date'].nunique

<bound method IndexOpsMixin.nunique of 0       187101
1       187102
2       187103
3       187104
4       187105
         ...
1771    201808
1772    201809
1773    201810
1774    201811
1775    201812
Name: Date, Length: 1776, dtype: int64>

In [70]:
# define function to check if column is a valid primary key
def key_field_check(file, column_name):
    if file[column_name].duplicated().max()==True:print(True)
    else: print(False)

In [71]:
key_field_check(file=goyal, column_name=['Date'])

False

In [72]:
#3. Check for suggested index column 'Date'
def index_fn(file_name, column_names):
    length= len(column_names)
    if length == 1:
        file_name.set_index(keys=[column_names[0]], inplace=True, verify_integrity=True)
        file_name.sort_index(inplace=True)
        
    else:
        file_name.set_index(keys=[column_names[0], column_names[1]], inplace=True, verify_integrity=True)
        file_name.sort_index(inplace=True)

In [73]:
index_fn(file_name = goyal, column_names = ['Date'])
print(goyal.index.name)

Date

In [74]:
#4. Create new column dp and store dividend-price ratio
goyal['dp'] = goyal['D12'] / goyal['Index']

In [76]:
#5. Create new column ep with earnings-price ratio
goyal['ep'] = goyal['E12'] / goyal['Index']

In [77]:
#6. Create new column tms to store term spread
goyal['tms'] = goyal['lty'] - goyal['tbl']

In [78]:
#7. Create new column dfy to store default term spread
goyal['dfy'] = goyal['BAA'] - goyal['AAA']

In [79]:
goyal.info(verbose= True, show_counts= True)
goyal.head(10)

<class 'pandas.core.frame.DataFrame'>
Index: 1776 entries, 187101 to 201812
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Index       1776 non-null   float64
 1   D12         1776 non-null   float64
 2   E12         1776 non-null   float64
 3   bm          1174 non-null   float64
 4   tbl         1187 non-null   float64
 5   AAA         1200 non-null   float64
 6   BAA         1200 non-null   float64
 7   lty         1200 non-null   float64
 8   ntis        1105 non-null   float64
 9   Rfree       1776 non-null   float64
 10  infl        1271 non-null   float64
 11  ltr         1116 non-null   float64
 12  corpr       1116 non-null   float64
 13  svar        1607 non-null   float64
 14  csp         788 non-null    float64
 15  CRSP_SPvw   1116 non-null   float64
 16  CRSP_SPvwx  1116 non-null   float64
 17  dp          1776 non-null   float64
 18  ep          1776 non-null   float64
 19  tms         1187 non-null   float64
 20  dfy         1200 non-null   float64
dtypes: float64(21)
memory usage: 305.2 KB

,Index,D12,E12,bm,tbl,AAA,BAA,lty,ntis,Rfree,...,ltr,corpr,svar,csp,CRSP_SPvw,CRSP_SPvwx,dp,ep,tms,dfy
Date,,,,,,,,,,,,,,,,,,,,,
187101,4.44,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004955,...,NaN,NaN,NaN,NaN,NaN,NaN,0.058559,0.090090,NaN,NaN
187102,4.50,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004514,...,NaN,NaN,NaN,NaN,NaN,NaN,0.057778,0.088889,NaN,NaN
187103,4.61,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004243,...,NaN,NaN,NaN,NaN,NaN,NaN,0.056399,0.086768,NaN,NaN
187104,4.74,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004632,...,NaN,NaN,NaN,NaN,NaN,NaN,0.054852,0.084388,NaN,NaN
187105,4.86,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.003691,...,NaN,NaN,NaN,NaN,NaN,NaN,0.053498,0.082305,NaN,NaN
187106,4.82,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.003368,...,NaN,NaN,NaN,NaN,NaN,NaN,0.053942,0.082988,NaN,NaN
187107,4.73,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.003250,...,NaN,NaN,NaN,NaN,NaN,NaN,0.054968,0.084567,NaN,NaN
187108,4.79,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.003706,...,NaN,NaN,NaN,NaN,NaN,NaN,0.054280,0.083507,NaN,NaN
187109,4.84,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004544,...,NaN,NaN,NaN,NaN,NaN,NaN,0.053719,0.082645,NaN,NaN
187110,4.59,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.007016,...,NaN,NaN,NaN,NaN,NaN,NaN,0.056645,0.087146,NaN,NaN

In [83]:
#8. Calculate correlation between S&P 500 Index and Corporate Bond Yields on -AAA rated bonds
corr= goyal['Index'].corr(goyal['AAA'])
print('Correlation between SP500 Index & Corp Bond yeild is ', corr)

Correlation between SP500 Index & Corp Bond yeild is  -0.0278064369988682

In [85]:
#9. Calculate volatility(standard deviation) of Treasury Bill yield
std_tbill = goyal['tbl'].std()
print(std_tbill)

0.029900521676868772

In [86]:
#10. Calculate volatility of t bill as a percentage of fraction of average treasury bill rate
avg_treasury_rate = goyal['Rfree'].mean()
volatility_fraction = std_tbill/avg_treasury_rate

print('Average treasury rate = ', avg_treasury_rate)
print('Volatility fraction of a average treasury bill rate = ', volatility_fraction)

Average treasury rate =  0.0030288995891554053
Volatility fraction of a average treasury bill rate =  9.871744109287688

# CRSP MSF Files

In [89]:
# Reading and dislaying basic file info
crsp_msf = pd.read_parquet(data_dir + crsp_msf_file)
crsp_msf.info(verbose= True, show_counts= True)
crsp_msf.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4696968 entries, 0 to 4696967
Data columns (total 21 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   cusip     4696968 non-null  object
 1   permno    4696968 non-null  float64
 2   permco    4696968 non-null  float64
 3   issuno    4696968 non-null  float64
 4   hexcd     4696968 non-null  float64
 5   hsiccd    4689293 non-null  float64
 6   date      4696968 non-null  datetime64[ns]
 7   bidlo     4587261 non-null  float64
 8   askhi     4587261 non-null  float64
 9   prc       4558302 non-null  float64
 10  vol       4280415 non-null  float64
 11  ret       4522167 non-null  float64
 12  bid       2892082 non-null  float64
 13  ask       2892030 non-null  float64
 14  shrout    4664457 non-null  float64
 15  cfacpr    4664457 non-null  float64
 16  cfacshr   4664457 non-null  float64
 17  altprc    4620236 non-null  float64
 18  spread    806997 non-null   float64
 19  altprcdt  4696962 non-null  object
 20  retx      4522167 non-null  float64
dtypes: datetime64[ns](1), float64(18), object(2)
memory usage: 752.5+ MB

,cusip,permno,permco,issuno,hexcd,hsiccd,date,bidlo,askhi,prc,...,ret,bid,ask,shrout,cfacpr,cfacshr,altprc,spread,altprcdt,retx
0,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1985-12-31,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-2.5625,NaN,1986-01-07,NaN
1,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1986-01-31,-2.50,-4.4375,-4.3750,...,NaN,NaN,NaN,3680.0,1.0,1.0,-4.3750,0.250,1986-01-31,NaN
2,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1986-02-28,-3.25,-4.3750,-3.2500,...,-0.257143,NaN,NaN,3680.0,1.0,1.0,-3.2500,0.250,1986-02-28,-0.257143
3,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1986-03-31,-3.25,-4.4375,-4.4375,...,0.365385,NaN,NaN,3680.0,1.0,1.0,-4.4375,0.125,1986-03-31,0.365385
4,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1986-04-30,-4.00,-4.3125,-4.0000,...,-0.098592,NaN,NaN,3793.0,1.0,1.0,-4.0000,0.250,1986-04-30,-0.098592

In [90]:
# Check for duplicates
crsp_msf.duplicated().max()

False

In [95]:
#1. Check number of unique values of 'permno' field. Check 'permno'
print(crsp_msf['permno'].nunique())
key_field_check(file = crsp_msf, column_name = ['permno'])

34401
True

In [97]:
#2. Find range and number of unique values of 'date' field. Check 'date'
print(crsp_msf['date'].nunique())
print('Date range: ', crsp_msf['date'].max() - crsp_msf['date'].min())

1141
Date range:  34699 days 00:00:00

In [98]:
# Check 'date' field for primary key
key_field_check(file = crsp_msf, column_name = ['date'])

#True indicates that there are duplicate values in the row and cannot be used as a primary key individually

True

In [99]:
#3. Check 'permno' and 'date' jointly for key
key_field_check(file = crsp_msf, column_name = ['permno','date'])

#False indicates that there are no duplicate values if a combination of the two columns is considered for the key field

False

In [101]:
#4. Check 'permco' and 'date' jointly for key
key_field_check(file = crsp_msf, column_name = ['permco','date'])

#True indicates duplicate values. Hence this combination of columns cannot be used

True

In [102]:
#5 Is there a difference between (3) and (4)?

print('''Yes, both the answers are different.
'permno' and 'date' can be used together as a unique key as seen in (3) 
but 'permco' and 'date' cannot be used as a unique key due to duplciate values even when checked jointly

''')

Yes, both the answers are different.
'permno' and 'date' can be used together as a unique key as seen in (3)
but 'permco' and 'date' cannot be used as a unique key due to duplciate values even when checked jointly

In [103]:
#6. Check index with suggested values
index_fn(file_name = crsp_msf, column_names = ['permno','date'])

In [104]:
print(crsp_msf.index)

MultiIndex([(10000.0, '1985-12-31'),
            (10000.0, '1986-01-31'),
            (10000.0, '1986-02-28'),
            (10000.0, '1986-03-31'),
            (10000.0, '1986-04-30'),
            (10000.0, '1986-05-30'),
            (10000.0, '1986-06-30'),
            (10000.0, '1986-07-31'),
            (10000.0, '1986-08-29'),
            (10000.0, '1986-09-30'),
            ...
            (93436.0, '2020-03-31'),
            (93436.0, '2020-04-30'),
            (93436.0, '2020-05-29'),
            (93436.0, '2020-06-30'),
            (93436.0, '2020-07-31'),
            (93436.0, '2020-08-31'),
            (93436.0, '2020-09-30'),
            (93436.0, '2020-10-30'),
            (93436.0, '2020-11-30'),
            (93436.0, '2020-12-31')],
           names=['permno', 'date'], length=4696968)

In [105]:
#7. Find min and max monthly return over sample period
print('Min return',crsp_msf['ret'].min())
print('Max return',crsp_msf['ret'].max())

Min return -0.9936000108718872
Max return 24.0

In [107]:
#8. Create new column mvel with mkt value of outstanding shares
crsp_msf['mvel']= crsp_msf['prc'] * crsp_msf['shrout']
crsp_msf.head()

                       cusip  permco   issuno  hexcd  hsiccd  bidlo   askhi  \
permno  date
10000.0 1985-12-31  68391610  7952.0  10396.0    3.0  3990.0    NaN     NaN
        1986-01-31  68391610  7952.0  10396.0    3.0  3990.0  -2.50 -4.4375
        1986-02-28  68391610  7952.0  10396.0    3.0  3990.0  -3.25 -4.3750
        1986-03-31  68391610  7952.0  10396.0    3.0  3990.0  -3.25 -4.4375
        1986-04-30  68391610  7952.0  10396.0    3.0  3990.0  -4.00 -4.3125

                       prc     vol       ret  bid  ask  shrout  cfacpr  \
permno  date
10000.0 1985-12-31     NaN     NaN       NaN  NaN  NaN     NaN     NaN
        1986-01-31 -4.3750  1771.0       NaN  NaN  NaN  3680.0     1.0
        1986-02-28 -3.2500   828.0 -0.257143  NaN  NaN  3680.0     1.0
        1986-03-31 -4.4375  1078.0  0.365385  NaN  NaN  3680.0     1.0
        1986-04-30 -4.0000   957.0 -0.098592  NaN  NaN  3793.0     1.0

                    cfacshr  altprc  spread    altprcdt      retx     mvel
permno  date
10000.0 1985-12-31      NaN -2.5625     NaN  1986-01-07       NaN      NaN
        1986-01-31      1.0 -4.3750   0.250  1986-01-31       NaN -16100.0
        1986-02-28      1.0 -3.2500   0.250  1986-02-28 -0.257143 -11960.0
        1986-03-31      1.0 -4.4375   0.125  1986-03-31  0.365385 -16330.0
        1986-04-30      1.0 -4.0000   0.250  1986-04-30 -0.098592 -15172.0

# CRSP Delisted File

In [110]:
#Read file and display basic info
crsp_delisted = pd.read_parquet(data_dir + crsp_delist_file)
crsp_delisted.info(verbose= True, show_counts= True)
crsp_delisted.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34401 entries, 0 to 34400
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   permno  34401 non-null  float64
 1   dlstdt  34401 non-null  datetime64[ns]
 2   dlstcd  34401 non-null  float64
 3   nwperm  34401 non-null  float64
 4   nwcomp  34401 non-null  float64
 5   nextdt  8491 non-null   datetime64[ns]
 6   dlamt   34401 non-null  float64
 7   dlretx  26256 non-null  float64
 8   dlprc   34401 non-null  float64
 9   dlpdt   26273 non-null  object
 10  dlret   26256 non-null  float64
 11  permco  34401 non-null  float64
 12  compno  34401 non-null  float64
 13  issuno  34401 non-null  float64
 14  hexcd   34401 non-null  float64
 15  hsiccd  34401 non-null  float64
 16  cusip   34401 non-null  object
 17  acperm  0 non-null      object
 18  accomp  0 non-null      object
dtypes: datetime64[ns](2), float64(13), object(4)
memory usage: 5.0+ MB

,permno,dlstdt,dlstcd,nwperm,nwcomp,nextdt,dlamt,dlretx,dlprc,dlpdt,dlret,permco,compno,issuno,hexcd,hsiccd,cusip,acperm,accomp
0,10000.0,1987-06-11,560.0,0.0,0.0,1987-06-12,0.218750,0.000000,-0.218750,1987-06-12,0.000000,7952.0,60007905.0,10396.0,3.0,3990.0,68391610,None,None
1,10001.0,2017-08-03,233.0,0.0,0.0,NaT,13.100000,0.011583,0.000000,2017-08-04,0.011583,7953.0,60007906.0,10398.0,2.0,4925.0,36720410,None,None
2,10002.0,2013-02-15,231.0,35263.0,1658.0,NaT,3.012500,0.046007,0.000000,2013-02-19,0.046007,7954.0,60007907.0,10399.0,3.0,6020.0,05978R10,None,None
3,10003.0,1995-12-15,231.0,10569.0,8477.0,NaT,5.448800,0.013730,0.000000,1995-12-18,0.013730,7957.0,60007910.0,10404.0,3.0,6020.0,39031810,None,None
4,10005.0,1991-07-11,560.0,0.0,0.0,1991-07-12,0.140625,0.125000,-0.140625,1991-07-12,0.125000,7961.0,60007914.0,10410.0,3.0,1310.0,95815510,None,None

In [111]:
#Check duplicates
crsp_delisted.duplicated().max()

#No duplicates

False

In [114]:
#1. Suggested key field 'permno' and delisting date
key_field_check(file= crsp_delisted, column_name= ['permno', 'dlstdt'])

False

In [115]:
#2. Suggested key field 'permco' and delisting date
key_field_check(file= crsp_delisted, column_name= ['permco', 'dlstdt'])

True

In [117]:
#3. Suggested index 'permno' and delisting date

index_fn(file_name = crsp_delisted, column_names = ['permno', 'dlstdt'])

In [119]:
print(crsp_delisted.index)
crsp_delisted.head()

MultiIndex([(10000.0, '1987-06-11'),
            (10001.0, '2017-08-03'),
            (10002.0, '2013-02-15'),
            (10003.0, '1995-12-15'),
            (10005.0, '1991-07-11'),
            (10006.0, '1984-06-28'),
            (10007.0, '1990-10-16'),
            (10008.0, '1988-11-21'),
            (10009.0, '2000-11-03'),
            (10010.0, '1995-08-28'),
            ...
            (93427.0, '2020-12-31'),
            (93428.0, '2018-02-01'),
            (93429.0, '2020-12-31'),
            (93430.0, '2012-03-02'),
            (93431.0, '2014-03-27'),
            (93432.0, '2011-05-31'),
            (93433.0, '2016-12-22'),
            (93434.0, '2020-12-31'),
            (93435.0, '2012-05-18'),
            (93436.0, '2020-12-31')],
           names=['permno', 'dlstdt'], length=34401)

,,dlstcd,nwperm,nwcomp,nextdt,dlamt,dlretx,dlprc,dlpdt,dlret,permco,compno,issuno,hexcd,hsiccd,cusip,acperm,accomp
permno,dlstdt,,,,,,,,,,,,,,,,,
10000.0,1987-06-11,560.0,0.0,0.0,1987-06-12,0.218750,0.000000,-0.218750,1987-06-12,0.000000,7952.0,60007905.0,10396.0,3.0,3990.0,68391610,None,None
10001.0,2017-08-03,233.0,0.0,0.0,NaT,13.100000,0.011583,0.000000,2017-08-04,0.011583,7953.0,60007906.0,10398.0,2.0,4925.0,36720410,None,None
10002.0,2013-02-15,231.0,35263.0,1658.0,NaT,3.012500,0.046007,0.000000,2013-02-19,0.046007,7954.0,60007907.0,10399.0,3.0,6020.0,05978R10,None,None
10003.0,1995-12-15,231.0,10569.0,8477.0,NaT,5.448800,0.013730,0.000000,1995-12-18,0.013730,7957.0,60007910.0,10404.0,3.0,6020.0,39031810,None,None
10005.0,1991-07-11,560.0,0.0,0.0,1991-07-12,0.140625,0.125000,-0.140625,1991-07-12,0.125000,7961.0,60007914.0,10410.0,3.0,1310.0,95815510,None,None

In [120]:
#4. Find the total number of securities and companies delisted
print('No of delisted securities: ', crsp_delisted.shape[0]) # since, permno is index
print('No of delisted companies: ', crsp_delisted['cusip'].nunique())

No of delisted securities:  34401
No of delisted companies:  34401

In [121]:
#5. Find min and max monthly return over sample period
print('Minimum return: ',crsp_delisted['dlret'].min() )
print('Maximum return: ',crsp_delisted['dlret'].max() )

Minimum return:  -1.0
Maximum return:  11.0

# CRSP Names

In [123]:
#Read file and display basic info
crsp_names = pd.read_parquet(data_dir + crsp_names_file)
crsp_names.info(verbose= True, show_counts= True)
crsp_names.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106249 entries, 0 to 106248
Data columns (total 21 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   permno    106249 non-null  float64
 1   namedt    106249 non-null  datetime64[ns]
 2   nameendt  106249 non-null  datetime64[ns]
 3   shrcd     106249 non-null  float64
 4   exchcd    106249 non-null  float64
 5   siccd     106249 non-null  float64
 6   ncusip    100791 non-null  object
 7   ticker    101385 non-null  object
 8   comnam    106249 non-null  object
 9   shrcls    5816 non-null    object
 10  tsymbol   77112 non-null   object
 11  naics     36879 non-null   object
 12  primexch  106249 non-null  object
 13  trdstat   106249 non-null  object
 14  secstat   106249 non-null  object
 15  permco    106249 non-null  float64
 16  compno    106249 non-null  float64
 17  issuno    106249 non-null  float64
 18  hexcd     106249 non-null  float64
 19  hsiccd    106249 non-null  float64
 20  cusip     106249 non-null  object
dtypes: datetime64[ns](2), float64(9), object(10)
memory usage: 17.0+ MB

,permno,namedt,nameendt,shrcd,exchcd,siccd,ncusip,ticker,comnam,shrcls,...,naics,primexch,trdstat,secstat,permco,compno,issuno,hexcd,hsiccd,cusip
0,10000.0,1986-01-07,1986-12-03,10.0,3.0,3990.0,68391610,OMFGA,OPTIMUM MANUFACTURING INC,A,...,None,Q,A,R,7952.0,60007905.0,10396.0,3.0,3990.0,68391610
1,10000.0,1986-12-04,1987-03-09,10.0,3.0,3990.0,68391610,OMFGA,OPTIMUM MANUFACTURING INC,A,...,None,Q,A,R,7952.0,60007905.0,10396.0,3.0,3990.0,68391610
2,10000.0,1987-03-10,1987-06-11,10.0,3.0,3990.0,68391610,OMFGA,OPTIMUM MANUFACTURING INC,A,...,None,Q,A,R,7952.0,60007905.0,10396.0,3.0,3990.0,68391610
3,10001.0,1986-01-09,1993-11-21,11.0,3.0,4920.0,39040610,GFGC,GREAT FALLS GAS CO,None,...,None,Q,A,R,7953.0,60007906.0,10398.0,2.0,4925.0,36720410
4,10001.0,1993-11-22,2004-06-09,11.0,3.0,4920.0,29274A10,EWST,ENERGY WEST INC,None,...,None,Q,A,R,7953.0,60007906.0,10398.0,2.0,4925.0,36720410

In [124]:
#Duplicate check
crsp_names.duplicated().max()

#No duplicates

False

In [126]:
#1. Suggested key field 'permno'
key_field_check(file=crsp_names, column_name=['permno'])

True

In [127]:
#2. Suggested key field 'permco'
key_field_check(file=crsp_names, column_name=['permco'])

True

In [128]:
#3. Suggested key field 'ticker'
key_field_check(file=crsp_names, column_name=['ticker'])

True

In [129]:
#4. Suggested key field 'cusip','namedt'
key_field_check(file=crsp_names, column_name=['cusip','namedt'])

False

In [131]:
#5. Suggested key field 'permno','namedt'
key_field_check(file=crsp_names, column_name=['permno','namedt'])

False

In [132]:
#6. Suggested key field 'permco','namedt'
key_field_check(file=crsp_names, column_name=['permco','namedt'])

True

In [133]:
#7. Suggested key field 'ticker','namedt'
key_field_check(file=crsp_names, column_name=['ticker','namedt'])

True

In [135]:
#8. Suggested index: 'permno', 'namedt'
index_fn(file_name = crsp_names, column_names = ['permno', 'namedt'])

In [136]:
crsp_names.head()

                     nameendt  shrcd  exchcd   siccd    ncusip ticker  \
permno  namedt
10000.0 1986-01-07 1986-12-03   10.0     3.0  3990.0  68391610  OMFGA
        1986-12-04 1987-03-09   10.0     3.0  3990.0  68391610  OMFGA
        1987-03-10 1987-06-11   10.0     3.0  3990.0  68391610  OMFGA
10001.0 1986-01-09 1993-11-21   11.0     3.0  4920.0  39040610   GFGC
        1993-11-22 2004-06-09   11.0     3.0  4920.0  29274A10   EWST

                                       comnam shrcls tsymbol naics primexch  \
permno  namedt
10000.0 1986-01-07  OPTIMUM MANUFACTURING INC      A   OMFGA  None        Q
        1986-12-04  OPTIMUM MANUFACTURING INC      A   OMFAC  None        Q
        1987-03-10  OPTIMUM MANUFACTURING INC      A   OMFGA  None        Q
10001.0 1986-01-09         GREAT FALLS GAS CO   None    GFGC  None        Q
        1993-11-22            ENERGY WEST INC   None    EWST  None        Q

                   trdstat secstat  permco      compno   issuno  hexcd  \
permno  namedt
10000.0 1986-01-07       A       R  7952.0  60007905.0  10396.0    3.0
        1986-12-04       A       R  7952.0  60007905.0  10396.0    3.0
        1987-03-10       A       R  7952.0  60007905.0  10396.0    3.0
10001.0 1986-01-09       A       R  7953.0  60007906.0  10398.0    2.0
        1993-11-22       A       R  7953.0  60007906.0  10398.0    2.0

                    hsiccd     cusip
permno  namedt
10000.0 1986-01-07  3990.0  68391610
        1986-12-04  3990.0  68391610
        1987-03-10  3990.0  68391610
10001.0 1986-01-09  4925.0  36720410
        1993-11-22  4925.0  36720410

In [138]:
#9. Find number of unique companies and securities
print('Uniuqe securities: ', crsp_names.shape[0]) #can be checked using shape as permno(the index col) is the unique id
print('Unique companies: ', crsp_names['ticker'].nunique())

Uniuqe securities:  106249
Unique companies:  31878

# Open AP

In [153]:
#Read file and display basic info
open_ap = pd.read_parquet(data_dir + open_ap_file)
open_ap.info(verbose= True, show_counts= True)
open_ap.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4890049 entries, 0 to 4890048
Data columns (total 204 columns):
 #    Column                     Non-Null Count    Dtype
---   ------                     --------------    -----
 0    permno                     4890049 non-null  int64
 1    Date                       4890049 non-null  datetime64[ns]
 2    AbnormalAccruals           2343170 non-null  float64
 3    Accruals                   2994988 non-null  float64
 4    AccrualsBM                 207242 non-null   float64
 5    Activism1                  108746 non-null   float64
 6    Activism2                  30039 non-null    float64
 7    AdExp                      965600 non-null   float64
 8    AgeIPO                     315285 non-null   float64
 9    AM                         2831851 non-null  float64
 10   AnalystRevision            1715104 non-null  float64
 11   AnalystValue               1122000 non-null  float64
 12   AnnouncementReturn         2678914 non-null  float64
 13   AOP                        1122000 non-null  float64
 14   AssetGrowth                3030436 non-null  float64
 15   Beta                       3920146 non-null  float64
 16   BetaFP                     3478475 non-null  float64
 17   BetaLiquidityPS            3036860 non-null  float64
 18   BetaTailRisk               2167914 non-null  float64
 19   betaVIX                    3065741 non-null  float64
 20   BidAskSpread               3945893 non-null  float64
 21   BM                         2672763 non-null  float64
 22   BMdec                      2776858 non-null  float64
 23   BookLeverage               3319481 non-null  float64
 24   BPEBM                      2722637 non-null  float64
 25   BrandInvest                432624 non-null   float64
 26   Cash                       1922341 non-null  float64
 27   CashProd                   2796781 non-null  float64
 28   CBOperProf                 2144599 non-null  float64
 29   CF                         2831851 non-null  float64
 30   cfp                        2411622 non-null  float64
 31   ChangeInRecommendation     404575 non-null   float64
 32   ChAssetTurnover            2318490 non-null  float64
 33   ChEQ                       2810377 non-null  float64
 34   ChForecastAccrual          559565 non-null   float64
 35   ChInv                      3030478 non-null  float64
 36   ChInvIA                    2498183 non-null  float64
 37   ChNAnalyst                 90380 non-null    float64
 38   ChNNCOA                    2982605 non-null  float64
 39   ChNWC                      2994874 non-null  float64
 40   ChTax                      2629347 non-null  float64
 41   CitationsRD                588780 non-null   float64
 42   CompEquIss                 2038417 non-null  float64
 43   CompositeDebtIssuance      1736926 non-null  float64
 44   ConsRecomm                 123918 non-null   float64
 45   ConvDebt                   3336701 non-null  float64
 46   CoskewACX                  3694122 non-null  float64
 47   Coskewness                 4214877 non-null  float64
 48   CredRatDG                  2177176 non-null  float64
 49   CustomerMomentum           305072 non-null   float64
 50   DebtIssuance               2561162 non-null  float64
 51   DelBreadth                 940995 non-null   float64
 52   DelCOA                     3030478 non-null  float64
 53   DelCOL                     2994988 non-null  float64
 54   DelDRC                     352612 non-null   float64
 55   DelEqu                     2933909 non-null  float64
 56   DelFINL                    2986867 non-null  float64
 57   DelLTI                     3030478 non-null  float64
 58   DelNetFin                  2986867 non-null  float64
 59   DivInit                    3803911 non-null  float64
 60   DivOmit                    3803911 non-null  float64
 61   DivSeason                  1704451 non-null  float64
 62   DivYieldST                 1521813 non-null  float64
 63   dNoa                       2933867 non-null  float64
 64   DolVol                     4201554 non-null  float64
 65   DownRecomm                 416993 non-null   float64
 66   EarningsConsistency        1282016 non-null  float64
 67   EarningsForecastDisparity  930682 non-null   float64
 68   EarningsStreak             1071174 non-null  float64
 69   EarningsSurprise           2182602 non-null  float64
 70   EarnSupBig                 2340995 non-null  float64
 71   EBM                        2722637 non-null  float64
 72   EntMult                    2280832 non-null  float64
 73   EP                         2091400 non-null  float64
 74   EquityDuration             2883557 non-null  float64
 75   ExchSwitch                 3803911 non-null  float64
 76   ExclExp                    1534034 non-null  float64
 77   FEPS                       1749970 non-null  float64
 78   fgr5yrLag                  830016 non-null   float64
 79   FirmAge                    1417990 non-null  float64
 80   FirmAgeMom                 450649 non-null   float64
 81   ForecastDispersion         1146405 non-null  float64
 82   FR                         637031 non-null   float64
 83   Frontier                   1213909 non-null  float64
 84   Governance                 333927 non-null   float64
 85   GP                         2741002 non-null  float64
 86   GrAdExp                    804731 non-null   float64
 87   grcapx                     2262615 non-null  float64
 88   grcapx3y                   2060275 non-null  float64
 89   GrLTNOA                    2960714 non-null  float64
 90   GrSaleToGrInv              2368766 non-null  float64
 91   GrSaleToGrOverhead         2465520 non-null  float64
 92   Herf                       3185259 non-null  float64
 93   HerfAsset                  2383981 non-null  float64
 94   HerfBE                     2383981 non-null  float64
 95   High52                     4550989 non-null  float64
 96   hire                       3219022 non-null  float64
 97   IdioRisk                   4559144 non-null  float64
 98   IdioVol3F                  4555936 non-null  float64
 99   IdioVolAHT                 4422081 non-null  float64
 100  Illiquidity                3878962 non-null  float64
 101  IndIPO                     3803911 non-null  float64
 102  IndMom                     3799413 non-null  float64
 103  IndRetBig                  2625767 non-null  float64
 104  IntanBM                    1605649 non-null  float64
 105  IntanCFP                   1744041 non-null  float64
 106  IntanEP                    1744041 non-null  float64
 107  IntanSP                    1739621 non-null  float64
 108  IntMom                     3469476 non-null  float64
 109  Investment                 2215030 non-null  float64
 110  InvestPPEInv               2696485 non-null  float64
 111  InvGrowth                  1850310 non-null  float64
 112  IO_ShortInterest           14053 non-null    float64
 113  iomom_cust                 541243 non-null   float64
 114  iomom_supp                 570651 non-null   float64
 115  Leverage                   2809367 non-null  float64
 116  LRreversal                 2887507 non-null  float64
 117  MaxRet                     4585553 non-null  float64
 118  MeanRankRevGrowth          1861737 non-null  float64
 119  Mom12m                     3494358 non-null  float64
 120  Mom12mOffSeason            3634940 non-null  float64
 121  Mom6m                      3660793 non-null  float64
 122  Mom6mJunk                  1400902 non-null  float64
 123  MomOffSeason               3201691 non-null  float64
 124  MomOffSeason06YrPlus       2284751 non-null  float64
 125  MomOffSeason11YrPlus       1571031 non-null  float64
 126  MomOffSeason16YrPlus       945503 non-null   float64
 127  MomRev                     248299 non-null   float64
 128  MomSeason                  3203392 non-null  float64
 129  MomSeason06YrPlus          2292016 non-null  float64
 130  MomSeason11YrPlus          1573842 non-null  float64
 131  MomSeason16YrPlus          1103342 non-null  float64
 132  MomSeasonShort             3498906 non-null  float64
 133  MomVol                     1025758 non-null  float64
 134  MRreversal                 3313923 non-null  float64
 135  MS                         439867 non-null   float64
 136  NetDebtFinance             2525662 non-null  float64
 137  NetDebtPrice               1327324 non-null  float64
 138  NetEquityFinance           3005272 non-null  float64
 139  NetPayoutYield             1694620 non-null  float64
 140  NOA                        2936226 non-null  float64
 141  NumEarnIncrease            2641734 non-null  float64
 142  OperProf                   1308977 non-null  float64
 143  OperProfRD                 1965682 non-null  float64
 144  OPLeverage                 3320220 non-null  float64
 145  OptionVolume1              640328 non-null   float64
 146  OptionVolume2              630816 non-null   float64
 147  OrderBacklog               609801 non-null   float64
 148  OrderBacklogChg            542108 non-null   float64
 149  OrgCap                     1228254 non-null  float64
 150  OScore                     1117558 non-null  float64
 151  PatentsRD                  614784 non-null   float64
 152  PayoutYield                1323006 non-null  float64
 153  PctAcc                     2889406 non-null  float64
 154  PctTotAcc                  2127026 non-null  float64
 155  PredictedFE                463464 non-null   float64
 156  PriceDelayRsq              4230341 non-null  float64
 157  PriceDelaySlope            4230341 non-null  float64
 158  PriceDelayTstat            4133751 non-null  float64
 159  ProbInformedTrading        116251 non-null   float64
 160  PS                         433334 non-null   float64
 161  RD                         1302283 non-null  float64
 162  RDAbility                  160667 non-null   float64
 163  RDcap                      477588 non-null   float64
 164  RDIPO                      3336701 non-null  float64
 165  RDS                        2471325 non-null  float64
 166  realestate                 1312028 non-null  float64
 167  ResidualMomentum           3170398 non-null  float64
 168  retConglomerate            584016 non-null   float64
 169  ReturnSkew                 4509113 non-null  float64
 170  ReturnSkew3F               4555931 non-null  float64
 171  REV6                       336386 non-null   float64
 172  RevenueSurprise            1986408 non-null  float64
 173  RIO_Disp                   447083 non-null   float64
 174  RIO_MB                     330389 non-null   float64
 175  RIO_Turnover               418991 non-null   float64
 176  RIO_Volatility             443973 non-null   float64
 177  roaq                       2330597 non-null  float64
 178  RoE                        3236448 non-null  float64
 179  sfe                        532344 non-null   float64
 180  ShareIss1Y                 3313887 non-null  float64
 181  ShareIss5Y                 2448599 non-null  float64
 182  ShareRepurchase            3336701 non-null  float64
 183  ShareVol                   1544203 non-null  float64
 184  ShortInterest              1378133 non-null  float64
 185  sinAlgo                    187495 non-null   float64
 186  skew1                      386666 non-null   float64
 187  SmileSlope                 693587 non-null   float64
 188  SP                         2824583 non-null  float64
 189  Spinoff                    3803911 non-null  float64
 190  std_turn                   1977464 non-null  float64
 191  SurpriseRD                 1394577 non-null  float64
 192  tang                       1404374 non-null  float64
 193  Tax                        2944845 non-null  float64
 194  TotalAccruals              2876092 non-null  float64
 195  UpRecomm                   416993 non-null   float64
 196  VarCF                      2372869 non-null  float64
 197  VolMkt                     3953499 non-null  float64
 198  VolSD                      3567965 non-null  float64
 199  VolumeTrend                3327542 non-null  float64
 200  XFIN                       2744585 non-null  float64
 201  zerotrade                  4082449 non-null  float64
 202  zerotradeAlt1              4236504 non-null  float64
 203  zerotradeAlt12             3848665 non-null  float64
dtypes: datetime64[ns](1), float64(202), int64(1)
memory usage: 7.4 GB

,permno,Date,AbnormalAccruals,Accruals,AccrualsBM,Activism1,Activism2,AdExp,AgeIPO,AM,...,TotalAccruals,UpRecomm,VarCF,VolMkt,VolSD,VolumeTrend,XFIN,zerotrade,zerotradeAlt1,zerotradeAlt12
0,10000,1986-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10000,1986-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.785175e-08,NaN
2,10000,1986-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.023392e-07,NaN
3,10000,1986-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.467463e-08,NaN
4,10000,1986-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.649551e-08,NaN

In [154]:
# duplicates check
open_ap.duplicated().max()

False

In [155]:
#1. Suggested key field 'permno','date'
key_field_check(file = open_ap, column_name=['permno','Date'])

False

In [156]:
#Creating a copy of the date as the column gets dropped while creating an index. This is an issue with Pandas.
open_ap_date_copy = open_ap['Date']

In [157]:
#2. Suggested index: 'permno','date'
index_fn(file_name = open_ap, column_names=['permno','Date'])

In [158]:
#3. How many unique securities are there?
print('Number of unique securities: ', open_ap.shape[0])

Number of unique securities:  4890049

In [159]:
#4. What is sample time window?
print('Sample Time Window: ', open_ap_date_copy.max()-open_ap_date_copy.min())

Sample Time Window:  35245 days 00:00:00

In [160]:
#5. How many characteristics of stocks are there?
print('Characteristics of stock: ', open_ap.shape[1])

#Number of columns gives the number of characteristics.

Characteristics of stock:  202

In [161]:
#6. Find no of unique values in each column that tells which variables should be treated as categorical
for col in open_ap.columns:  
    print('Unique Values in ',col,' = ', open_ap[col].nunique())

Unique Values in  AbnormalAccruals  =  195399
Unique Values in  Accruals  =  249592
Unique Values in  AccrualsBM  =  2
Unique Values in  Activism1  =  18
Unique Values in  Activism2  =  7178
Unique Values in  AdExp  =  894931
Unique Values in  AgeIPO  =  172
Unique Values in  AM  =  2584718
Unique Values in  AnalystRevision  =  77614
Unique Values in  AnalystValue  =  93325
Unique Values in  AnnouncementReturn  =  1497874
Unique Values in  AOP  =  93272
Unique Values in  AssetGrowth  =  251598
Unique Values in  Beta  =  3920146
Unique Values in  BetaFP  =  3277038
Unique Values in  BetaLiquidityPS  =  3036860
Unique Values in  BetaTailRisk  =  2167914
Unique Values in  betaVIX  =  3048734
Unique Values in  BidAskSpread  =  3737161
Unique Values in  BM  =  2455372
Unique Values in  BMdec  =  319379
Unique Values in  BookLeverage  =  274700
Unique Values in  BPEBM  =  2435187
Unique Values in  BrandInvest  =  33450
Unique Values in  Cash  =  728286
Unique Values in  CashProd  =  2595818
Unique Values in  CBOperProf  =  189818
Unique Values in  CF  =  2572636
Unique Values in  cfp  =  2236810
Unique Values in  ChangeInRecommendation  =  1016
Unique Values in  ChAssetTurnover  =  192276
Unique Values in  ChEQ  =  230485
Unique Values in  ChForecastAccrual  =  2
Unique Values in  ChInv  =  197370
Unique Values in  ChInvIA  =  2096859
Unique Values in  ChNAnalyst  =  2
Unique Values in  ChNNCOA  =  248223
Unique Values in  ChNWC  =  249684
Unique Values in  ChTax  =  743375
Unique Values in  CitationsRD  =  2
Unique Values in  CompEquIss  =  1996688
Unique Values in  CompositeDebtIssuance  =  147696
Unique Values in  ConsRecomm  =  2
Unique Values in  ConvDebt  =  2
Unique Values in  CoskewACX  =  3600815
Unique Values in  Coskewness  =  4079343
Unique Values in  CredRatDG  =  2
Unique Values in  CustomerMomentum  =  133502
Unique Values in  DebtIssuance  =  2
Unique Values in  DelBreadth  =  7125
Unique Values in  DelCOA  =  251583
Unique Values in  DelCOL  =  243648
Unique Values in  DelDRC  =  29226
Unique Values in  DelEqu  =  245293
Unique Values in  DelFINL  =  225124
Unique Values in  DelLTI  =  124474
Unique Values in  DelNetFin  =  243272
Unique Values in  DivInit  =  2
Unique Values in  DivOmit  =  2
Unique Values in  DivSeason  =  2
Unique Values in  DivYieldST  =  4
Unique Values in  dNoa  =  245355
Unique Values in  DolVol  =  2360275
Unique Values in  DownRecomm  =  2
Unique Values in  EarningsConsistency  =  105599
Unique Values in  EarningsForecastDisparity  =  528342
Unique Values in  EarningsStreak  =  104717
Unique Values in  EarningsSurprise  =  741017
Unique Values in  EarnSupBig  =  26380
Unique Values in  EBM  =  2496319
Unique Values in  EntMult  =  2070830
Unique Values in  EP  =  1884111
Unique Values in  EquityDuration  =  236538
Unique Values in  ExchSwitch  =  2
Unique Values in  ExclExp  =  6809
Unique Values in  FEPS  =  5206
Unique Values in  fgr5yrLag  =  4341
Unique Values in  FirmAge  =  1141
Unique Values in  FirmAgeMom  =  337490
Unique Values in  ForecastDispersion  =  49105
Unique Values in  FR  =  554655
Unique Values in  Frontier  =  1144686
Unique Values in  Governance  =  10
Unique Values in  GP  =  224212
Unique Values in  GrAdExp  =  56636
Unique Values in  grcapx  =  181404
Unique Values in  grcapx3y  =  171925
Unique Values in  GrLTNOA  =  247566
Unique Values in  GrSaleToGrInv  =  199346
Unique Values in  GrSaleToGrOverhead  =  207778
Unique Values in  Herf  =  901246
Unique Values in  HerfAsset  =  801812
Unique Values in  HerfBE  =  794192
Unique Values in  High52  =  1294973
Unique Values in  hire  =  103432
Unique Values in  IdioRisk  =  4517830
Unique Values in  IdioVol3F  =  4235378
Unique Values in  IdioVolAHT  =  4421869
Unique Values in  Illiquidity  =  3821781
Unique Values in  IndIPO  =  2
Unique Values in  IndMom  =  71476
Unique Values in  IndRetBig  =  51005
Unique Values in  IntanBM  =  1590451
Unique Values in  IntanCFP  =  1727794
Unique Values in  IntanEP  =  1724313
Unique Values in  IntanSP  =  1718511
Unique Values in  IntMom  =  2187665
Unique Values in  Investment  =  2082849
Unique Values in  InvestPPEInv  =  219126
Unique Values in  InvGrowth  =  734348
Unique Values in  IO_ShortInterest  =  5253
Unique Values in  iomom_cust  =  2
Unique Values in  iomom_supp  =  2
Unique Values in  Leverage  =  2581543
Unique Values in  LRreversal  =  2117853
Unique Values in  MaxRet  =  801423
Unique Values in  MeanRankRevGrowth  =  84822
Unique Values in  Mom12m  =  2315477
Unique Values in  Mom12mOffSeason  =  3578947
Unique Values in  Mom6m  =  2220852
Unique Values in  Mom6mJunk  =  932533
Unique Values in  MomOffSeason  =  3107857
Unique Values in  MomOffSeason06YrPlus  =  2228112
Unique Values in  MomOffSeason11YrPlus  =  1541559
Unique Values in  MomOffSeason16YrPlus  =  933553
Unique Values in  MomRev  =  2
Unique Values in  MomSeason  =  2771898
Unique Values in  MomSeason06YrPlus  =  2043184
Unique Values in  MomSeason11YrPlus  =  1423391
Unique Values in  MomSeason16YrPlus  =  1007075
Unique Values in  MomSeasonShort  =  885313
Unique Values in  MomVol  =  10
Unique Values in  MRreversal  =  2112459
Unique Values in  MS  =  6
Unique Values in  NetDebtFinance  =  182826
Unique Values in  NetDebtPrice  =  1215081
Unique Values in  NetEquityFinance  =  174311
Unique Values in  NetPayoutYield  =  1571871
Unique Values in  NOA  =  244560
Unique Values in  NumEarnIncrease  =  9
Unique Values in  OperProf  =  123395
Unique Values in  OperProfRD  =  171009
Unique Values in  OPLeverage  =  275529
Unique Values in  OptionVolume1  =  623266
Unique Values in  OptionVolume2  =  616544
Unique Values in  OrderBacklog  =  51004
Unique Values in  OrderBacklogChg  =  45520
Unique Values in  OrgCap  =  1018437
Unique Values in  OScore  =  2
Unique Values in  PatentsRD  =  2
Unique Values in  PayoutYield  =  1214183
Unique Values in  PctAcc  =  238033
Unique Values in  PctTotAcc  =  175428
Unique Values in  PredictedFE  =  38577
Unique Values in  PriceDelayRsq  =  374775
Unique Values in  PriceDelaySlope  =  376467
Unique Values in  PriceDelayTstat  =  300425
Unique Values in  ProbInformedTrading  =  11809
Unique Values in  PS  =  10
Unique Values in  RD  =  1006654
Unique Values in  RDAbility  =  13396
Unique Values in  RDcap  =  22722
Unique Values in  RDIPO  =  2
Unique Values in  RDS  =  168295
Unique Values in  realestate  =  1054375
Unique Values in  ResidualMomentum  =  3104597
Unique Values in  retConglomerate  =  104074
Unique Values in  ReturnSkew  =  4422009
Unique Values in  ReturnSkew3F  =  4416046
Unique Values in  REV6  =  294088
Unique Values in  RevenueSurprise  =  682032
Unique Values in  RIO_Disp  =  5
Unique Values in  RIO_MB  =  5
Unique Values in  RIO_Turnover  =  5
Unique Values in  RIO_Volatility  =  5
Unique Values in  roaq  =  775384
Unique Values in  RoE  =  268377
Unique Values in  sfe  =  30727
Unique Values in  ShareIss1Y  =  936050
Unique Values in  ShareIss5Y  =  782314
Unique Values in  ShareRepurchase  =  2
Unique Values in  ShareVol  =  2
Unique Values in  ShortInterest  =  1314504
Unique Values in  sinAlgo  =  2
Unique Values in  skew1  =  336114
Unique Values in  SmileSlope  =  232185
Unique Values in  SP  =  2552197
Unique Values in  Spinoff  =  2
Unique Values in  std_turn  =  1974928
Unique Values in  SurpriseRD  =  2
Unique Values in  tang  =  116337
Unique Values in  Tax  =  168986
Unique Values in  TotalAccruals  =  245094
Unique Values in  UpRecomm  =  2
Unique Values in  VarCF  =  2338301
Unique Values in  VolMkt  =  3808385
Unique Values in  VolSD  =  3535515
Unique Values in  VolumeTrend  =  3250767
Unique Values in  XFIN  =  223445
Unique Values in  zerotrade  =  3021000
Unique Values in  zerotradeAlt1  =  2947649
Unique Values in  zerotradeAlt12  =  3011360

# Fama-French FF3

In [164]:
#Read file and display basic info
ff3 = pd.read_parquet(data_dir + ff3_file)
ff3.info(verbose= True, show_counts= True)
ff3.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 869 entries, 0 to 868
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    869 non-null    datetime64[ns]
 1   Mkt-RF  869 non-null    float64
 2   SMB     869 non-null    float64
 3   HML     869 non-null    float64
 4   RF      869 non-null    float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 34.1 KB

        Date  Mkt-RF     SMB     HML      RF
0 1950-01-31  0.0170  0.0334  0.0013  0.0009
1 1950-02-28  0.0148  0.0001 -0.0081  0.0009
2 1950-03-31  0.0126 -0.0143 -0.0281  0.0010
3 1950-04-30  0.0394  0.0201  0.0137  0.0009
4 1950-05-31  0.0431 -0.0212  0.0045  0.0010

In [166]:
#Check for duplicates
ff3.duplicated().max()

#No duplicates

False

In [167]:
#1. Suggested key check 'Date'
key_field_check(file = ff3, column_name=['Date'])

False

In [168]:
#2. Suggested index 'Date'
index_fn(file_name=ff3, column_names=['Date'])

In [171]:
#3. Get sample stats like mean, median, std, min, max, quartiles for a. Monthly excess return, b. risk free rate

print('Monthly excess market return statistics', '\n')
print('Mean: ', ff3['Mkt-RF'].mean())
print('Median: ', ff3['Mkt-RF'].median())
print('Standard Deviation: ', ff3['Mkt-RF'].std())
print('Min: ', ff3['Mkt-RF'].min())
print('Max: ', ff3['Mkt-RF'].max())
print('Quartiles: ', ff3['Mkt-RF'].quantile([0.25, 0.5, 0.75]))

Monthly excess market return statistics

Mean:  0.006625201380897584
Median:  0.0106
Standard Deviation:  0.043031820801424356
Min:  -0.2324
Max:  0.161
Quartiles:  0.25   -0.0190
0.50    0.0106
0.75    0.0343
Name: Mkt-RF, dtype: float64

In [173]:
print('Risk Free Rate statistics', '\n')
print('Mean: ', ff3['RF'].mean(),)
print('Median: ', ff3['RF'].median())
print('Standard Deviation: ', ff3['RF'].std())
print('Min: ', ff3['RF'].min())
print('Max: ', ff3['RF'].max())
print('Quartiles: ', ff3['RF'].quantile([0.25, 0.5, 0.75]))

Risk Free Rate statistics

Mean:  0.003273993095512083
Median:  0.003
Standard Deviation:  0.0025527233681741316
Min:  0.0
Max:  0.013500000000000002
Quartiles:  0.25    0.0013
0.50    0.0030
0.75    0.0046
Name: RF, dtype: float64

In [174]:
# What do they suggest for the predictability of market portfolio and risk-free rate?

print('The mean, median and std are higher for the market portfolio than the risk free rate. The mean and std are used to estimate the range of changes in the market portfolio and risk free rate but the min and max values establish the range.')
print('Minimum value of market portfolio < 0 which mean that the reutrn was less than the risk free rate. This indicates negative returns.')
print('Quartiles help divide the values such that we can predict values in a particular quartile')

The mean, median and std are higher for the market portfolio than the risk free rate. The mean and std are used to estimate the range of changes in the market portfolio and risk free rate but the min and max values establish the range.
Minimum value of market portfolio < 0 which mean that the reutrn was less than the risk free rate. This indicates negative returns.
Quartiles help divide the values such that we can predict values in a particular quartile